<div class="app_content p-2 w-75 mx-auto">
  <div class="container">
    <div class="toolbar p-2" role="banner">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a 
            class="nav-link active" 
            aria-current="page" 
            href="/">
              Lista de Alunos
          </a>
        </li>
      </ul>
    </div>
  
    <div 
      class="content p-2 w-100 mx-auto table-responsive" 
      role="main"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">RU</th>
            <th scope="col">Curso</th>
            <th scope="col">Aniversário</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of Alunos; let i = index">
            <td>{{i + 1}} - {{ aluno.nome }}</td>
            <td>{{ aluno.ru }}</td>
            <td>{{ aluno.nome_do_curso }}</td>
            <td>{{ aluno.data_de_aniversario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>